ClientAsync/Connected Services/ProxyAsync/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IMessage_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7999/WPFHost/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7999/WPFHost/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMessage_Join_InputMessage">
    <wsdl:part name="parameters" element="tns:Join" />
  </wsdl:message>
  <wsdl:message name="IMessage_AddMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMessage" />
  </wsdl:message>
  <wsdl:message name="IMessage_AddMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IMessage_OnMessageAdded_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMessageAdded" />
  </wsdl:message>
  <wsdl:message name="IMessage_OnMessageAdded_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMessageAddedResponse" />
  </wsdl:message>
  <wsdl:portType name="IMessage">
    <wsdl:operation name="Join">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessage/Join" message="tns:IMessage_Join_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IMessage/AddMessage" message="tns:IMessage_AddMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMessage/AddMessageResponse" message="tns:IMessage_AddMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnMessageAdded">
      <wsdl:output wsaw:Action="http://tempuri.org/IMessage/OnMessageAdded" message="tns:IMessage_OnMessageAdded_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IMessage/OnMessageAddedResponse" message="tns:IMessage_OnMessageAdded_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IMessage" type="tns:IMessage">
    <wsp:PolicyReference URI="#NetTcpBinding_IMessage_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Join">
      <soap12:operation soapAction="http://tempuri.org/IMessage/Join" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AddMessage">
      <soap12:operation soapAction="http://tempuri.org/IMessage/AddMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnMessageAdded">
      <soap12:operation soapAction="http://tempuri.org/IMessage/OnMessageAdded" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="NetTcpBinding_IMessage" binding="tns:NetTcpBinding_IMessage">
      <soap12:address location="net.tcp://localhost:8000/Service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8000/Service</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>